<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display and Edit Configuration</title>
</head>
<body>
<form method="post">
    {% for item in result %}
    <p>name:  <b>{{ item.get_name() }}</b></p>
    {% endfor %}
    <input type="button" value="+" onclick="addRow()">
    <div id="content">
    </div>
    <input type="submit">
</form>

<script>
function addRow () {
  document.querySelector('#content').insertAdjacentHTML(
    'afterbegin',
    `<div class="row">
      <input type="text" name="name" value="" />
      <input type="text" name="value" value="" />
      <label><input type="checkbox" name="check" value="1" />Checked?</label>
      <input type="button" value="-" onclick="removeRow(this)">
      <input type="button" value="+" onclick="addRow()">
    </div>`
  )
}

function removeRow (input) {
  input.parentNode.remove()
}
</script>
<br/><br/>

</body>
</html>