<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dataverse CVM Setting Generator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script>
</script>
<div class="container">
    <div class="jumbotron bg-light">
        <h1 class="display-5">Dataverse CVM Setting Generator</h1>
        <hr class="my-4">
        <form method="post" name="akmi">
        <div class="form-group">
            {% for dv_setting_el in dv_setting_json %}
            <div class="row">
                <div class="col-sm-2">
                    <label class="d-block">{{ dv_setting_el['vocabs'][0] }}
                    </label>
                </div>
                <div class="col-sm-9">
                    <table class="table table-bordered">
                        <tbody>
                        {% for ontology in ontologies %}
                            {% if ontology.get_index()%4 == 0 and ontology.get_index() > 0 %}
                            <tr> {% endif%}
                            <td>
                                <input type="checkbox" class="mr-1" name="{{ dv_setting_el['vocab-name'] }}|{{ ontology.get_name() }}"><a target="_blank" href="{{ ontology.get_base_url() }}">{{ ontology.get_name() }}</a>
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr><td><input type="checkbox" class="mr-1" name="{{ dv_setting_el['vocab-name'] }}|{{ ontology.get_name() }}" checked="checked" disabled>English</td></tr>
                                    <tr><td><input type="checkbox" class="mr-1" name="{{ dv_setting_el['vocab-name'] }}|{{ ontology.get_name() }}">Frans</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        {% if (ontology.get_index()+1) %4 == 0 %}
                            </tr> {% endif %}
                        {% endfor %}
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <hr class="my-4">
            {% endfor %}
        </div>
            <div class="form-inline d-flex flex-nowrap">
                <div class="form-group w-25">
                    <input  class="btn btn-warning" type="submit" value="download" formnovalidate="formnovalidate" formaction="/dv/setting/download">
                </div>
                <div class="md-form form-group">
                    <label for="dv_url">Dataverse URL</label>
                    <input type="text" class="form-control" name="dv_url" value="" placeholder="Dataverse URL" required>
                    <label class="mr-2 ml-4" for="dv_api_token">API Token</label>
                    <input type="text" class="form-control" name="dv_api_token" value="" placeholder="API Token" required>
                    <button type="submit" class="btn btn-primary">push</button>
                </div>

            </div>
        </form>
</div>
</body>
</html>